.header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: 1200px;
        padding: 0 12px;

        .upper-part{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            // border-bottom: 1px solid rgb(195, 195, 195);
            padding-bottom: 20px;
            padding-top: 20px;

            .logo {
                width: 35px;
            }

            .nav-cta {
                display: none;
                gap: 15px;

                @media screen and (min-width: 768px) {
                    display: flex;
                    
                }
            }

            .hambuger-menu{
                display: flex;
                @media screen and (min-width: 768px) {
                   display: none;
                }
            }
        }

        .lower-part{
            display: none;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: sticky;
            top: 0;
            right: 0;

            width: 100%;

            span{
                margin-right: 50px;
                

                p{
                    color: #000;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 300;
                    font-size: 13px;
                }
            }

            @media screen and (min-width: 768px) {
                display: flex;
                
            }
        }

        @media screen and (min-width: 768px) {
            padding: 0 40px;

            .upper-part{
                border-bottom: 1px solid rgb(195, 195, 195);

                .logo{
                    width: 45px;
                }
            }
            
        }

    }

}


